---
const tour = {
    image: "/../tours/cumaceba4d3n.png",
    title: "Cumaceba Lodge (4D/3N)",
    itinerary: [
        {
            day: "Día 1",
            title: "Traslado del Aeropuerto u Hotel",
            parrafo1: "Traslado del aeropuerto u hotel. Caminata por el centro de la ciudad, conociendo la iglesia matriz, la casa de hierro, el malecón Maldonado y las casas históricas de la época del caucho. Traslado al puerto fluvial para abordar el bote motor fuera de borda.",
            parrafo2: "Navegaremos el río Itaya durante 15 minutos para luego ingresar al río más largo y caudaloso del mundo, el Amazonas. Se proporcionará información sobre el Amazonas y buscaremos delfines grises y bufeos rosados. Navegaremos por el Amazonas hasta el Curaka Expeditions, donde seremos recibidos con un refresco de frutas de la estación. Se brindará información general y se realizará la asignación de bungalows privados.",
            parrafo3: "Almuerzo: plato típico Juane. Por la tarde, caminata por la selva, conociendo la flora, fauna y la biodiversidad del área.",
            parrafo4: "Caminata nocturna por la selva, escuchando la variedad de sonidos emitidos por insectos, batracios, aves, entre otros, y excursión en canoa, según la estación.",
            parrafo5: "Cena: historias selváticas narradas por el guía. Noche en el albergue."
        },
        {
            day: "Día 2",
            title: "Avistaje de Aves en su Hábitat, Caminando o en Canoa",
            parrafo1: "Avistaje de aves en su hábitat, caminando o en canoa. Desayuno. Excursión para visitar a un morador ribereño, donde apreciaremos boas constrictoras no venenosas, osos perezosos y tortugas, entre otros.",
            parrafo2: "También conoceremos la manera de extraer el jugo de la caña de azúcar de forma artesanal, con degustación del jugo y sus derivados, como el ron de caña y la melaza.",
            parrafo3: "Retorno al albergue. Almuerzo: plato típico de pescado. Por la tarde, visita al pueblo de la ribera “GALLITO” para conocer parte de sus actividades diarias. Según las condiciones climatológicas, observaremos una maravillosa puesta de sol.",
            parrafo4: "Cena. Noche en el albergue."
        },
        {
            day: "Día 3",
            title: "Pesca a Orillas del Río Amazonas: Pez Gato y Pirañas, entre Otros",
            parrafo1: "Desayuno. Pesca a orillas del río Amazonas: pez gato, pirañas, entre otros. Observación de la Victoria Regia, la planta acuática más grande del mundo. Retorno al albergue y almuerzo típico de Patarashca. Momento de relax en el área de hamacas y/o piscina.",
            parrafo2: "Por la tarde, recorreremos el contorno del área, conociendo plantas y árboles cuyos frutos son aprovechados por los ribereños por sus propiedades medicinales. Apreciamos el histórico árbol del caucho o balata, el cedro y la voluptuosa lupuna.",
            parrafo3: "Cena. Noche en el albergue."
        },
        {
            day: "Día 4",
            title: "Excursión en Canoa a Orillas del Amazonas, Observando Aves e Iguanas",
            parrafo1: "Desayuno. Excursión en canoa a orillas del Amazonas, observando aves, iguanas, etc. Momento libre para leer o simplemente descansar en nuestra apacible casa de hamacas. Tiempo especial para tomar fotografías.",
            parrafo2: "Hora oportuna para el almuerzo típico: cecina con tacacho, y partida con destino a Iquitos. En el trayecto, visitaremos la comunidad nativa Bora Bora, donde conoceremos sus costumbres, dialecto, vestimenta y danzas típicas. Se recomienda llevar objetos para intercambiar con las artesanías hechas a mano.",
            parrafo3: "Arribo a la ciudad de Iquitos. Traslado al aeropuerto u hotel. Fin de los servicios."
        }
    ],
};

const relatedTours = [
    {
        image: "/../tours/maravillasdelaamazonia.png",
        title: "Descubre Las Maravillas de la Amazonía (4D/3N)",
        duration: "4 días | 3 noches",
        link: "../tours-heliconia-lodge/descubre-las-maravillas-de-la-amazonia-4-dias-3-noches",
    },
    {
        image: "/../tours/explorandoamazonas.png",
        title: "Explorando el Amazonas (4D/3N)",
        duration: "4 días | 3 noches",
        link: "../tours-irapay-amazon/explorando-el-amazonas-4-dias-3-noches",
    },
    {
        image: "/../tours/pacayasamiria2.png",
        title: "Tours Reserva Nacional Pacaya Samiria (4D/3N) - Desde Iquitos",
        duration: "4 días | 3 noches",
        link: "../tours-pacaya-samiria/tour-4-dias-3-noches",
    },
];

const accordionItems = [
    {
        title: "El Programa Incluye",
        content: [
            "02 noches de alojamiento en Heliconia Amazon River Lodge con alimentación completa (02 desayunos, 03 almuerzos, 02 cenas).",
            "Visita a la Isla de Monos.",
            "Caminata por la selva.",
            "Paseo nocturno en bote.",
            "Búsqueda de delfines rosados.",
            "Tour de observación de aves.",
            "Tour de pesca.",
            "Visita a un trapiche artesanal.",
            "Caminata nocturna en la selva.",
            "Observación de las Victoria Regias.",
            "Traslados."
        ]
    },
    {
        title: "El Programa No Incluye",
        content: [
            "Vuelos.",
            "Cenas.",
            "Bebidas.",
            "Hotel en la ciudad.",
            "Entre otros no mencionados."
        ]
    },
    {
        title: "Qué Traer con Usted",
        content: [
            "Ropa Ligera.",
            "Chaqueta de Lluvia.",
            "Repelente.",
            "Bloqueador Solar.",
            "Camisa Mangalarga.",
            "Ropa de baño.",
            "Sombrero o Gorra.",
            "Cámara fotográfica.",
            "Lentes de Sol.",
            "Caña de Pescar. (Opcional)",
            "Buen Ánimo."
        ]
    }
];
---
<section class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-3 gap-10 my-16">
    <div class="lg:col-span-2 space-y-4">
        <div class="flex items-center gap-2 mb-4">
            <a href="#" onclick="history.back()" class="flex items-center text-green-950 hover:text-orange-600 transition-all font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"/>
                </svg>
                Volver
            </a>
        </div>
        <img src={tour.image} alt={tour.title} class="w-full h-60 sm:h-80 object-cover rounded-xl shadow-md" />

        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
            <h1 class="text-xl sm:text-3xl font-bold text-gray-900 leading-tight">
                {tour.title}
            </h1>
            <a href="https://wa.link/evokxz" 
               class="mt-4 sm:mt-0 w-full sm:w-auto text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <div class="space-y-4">
            {tour.itinerary.map((item) => (
              <div class="bg-gray-50 p-2 rounded-lg shadow-sm">
                <h2 class="text-lg sm:text-xl font-bold text-green-950 underline mb-3">
                  {item.day}. {item.title}
                </h2>
                <div class="space-y-4">
                  {[
                    item.parrafo1,
                    item.parrafo2,
                    item.parrafo3,
                    item.parrafo4,
                    item.parrafo5
                  ]
                    .filter((parrafo) => parrafo)
                    .map((parrafo) => (
                      <p class="text-gray-700 leading-relaxed">{parrafo}</p>
                    ))}
                </div>
              </div>
            ))}
        </div>

        <div class="space-y-4">
            {accordionItems.map((item) => (
                <details class="bg-blue-50 rounded-lg shadow-sm p-4">
                    <summary class="text-lg sm:text-xl font-semibold cursor-pointer text-green-950">
                        {item.title}
                    </summary>
                    <ul class="mt-2 space-y-1 text-gray-700">
                        {item.content.map((text) => (
                            <li class="ml-4 list-disc">{text}</li>
                        ))}
                    </ul>
                </details>
            ))}
        </div>
        <div class="flex flex-col">
            <a href="https://wa.link/evokxz" class="mt-2 w-full text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </a>
        </div>
    </div>

    <aside class="lg:col-span-1 order-last lg:order-none sticky top-10 space-y-6 self-start">
        <h3 class="text-xl sm:text-2xl text-center font-bold text-gray-900">
            También te <br /> puede interesar
        </h3>
        <div class="max-h-[670px] overflow-y-auto space-y-4 scrollbar-thin scrollbar-thumb-green-300 scrollbar-track-green-100">
            {relatedTours.map((tour) => (
                <a href={tour.link} class="block border rounded-xl overflow-hidden shadow-md transition-transform transform hover:shadow-lg bg-white">
                    <img src={tour.image} alt={tour.title} class="w-full h-32 sm:h-40 object-cover"/>
                    
                    <div class="bg-green-950 text-white text-sm flex justify-center gap-2 py-2">
                        <span class="flex items-center">
                            <i class="fa-solid fa-calendar-check mr-2"></i>
                            {tour.duration}
                        </span>
                    </div>

                    <div class="p-4 text-center">
                        <h4 class="text-lg font-semibold text-gray-900">{tour.title}</h4>
                        
                        <span class="mt-3 inline-block bg-green-950 hover:bg-green-800 transition-all py-2 px-4 text-white font-medium rounded-md">
                            Ver itinerario
                        </span>
                    </div>
                </a>
            ))}
        </div>
    </aside>
</section>