---
const tour = {
    image: "/../tours/cumaceba1.avif",
    title: "Cumaceba Lodge (6D/5N)",
    itinerary: [
        {
            day: "Día 1",
            title: "Iquitos / Cumaceba Kuraka Inn Lodge",
            parrafo1:
                "Recojo en el aeropuerto o Hotel de Iquitos, después del Desayuno.",
            parrafo2:
                "Inicio de un Breve city tours peatonal por el centro de la ciudad conociendo la Iglesia Matriz, Casa de Hierro, Malecón, Casas históricas de la época del caucho. Traslado al puerto fluvial para abordar el bote con motor fuera de borda. Navegaremos el rio Itaya por 15 minutos para luego ingresar al rio más largo y caudaloso del mundo, el Amazonas, maravilla Natural, información sobre el Amazonas, búsqueda de delfines grises y bufeos rosados.",
            parrafo3:
                "Navegaremos el Amazonas rio arriba hasta el Curaka Expeditions, al arribo bienvenida con refresco de frutas de la estación. Información general. Asignación de bungalows privados. Almuerzo. Plato típico – Juane. Por la tarde caminata por la selva conociendo flora y fauna y la biodiversidad existente en el área. Caminata nocturna por la selva escuchando la variedad de sonidos emitidos por insectos batracios, aves entre otros.",
            parrafo4:
                "Cena. Historias selváticas narradas por el guía, Noche en el Albergue.",
        },
        {
            day: "Día 2",
            title: "Curaka Expeditions – Anaconda – Oso Perezoso",
            parrafo1:
                "Avistaje de aves en su hábitat caminando o en canoa. Desayuno. Excursión para visitar a morador ribereño donde apreciaremos boas constrictoras no venenosas, oso perezoso, tortugas entre otros.",
            parrafo2:
                "Conoceremos también la manera de extraer el jugo de la caña de azúcar de manera artesanal, degustación del jugo y sus derivados como el ron de cana, melaza. Retorno a Curaka Expeditions.",
            parrafo3:
                "Almuerzo plato típico – Patarashca. Por la tarde visita a pueblo de la ribera ‘’GALLITO’’ para conocer parte de sus actividades diarias. Vista excepcional del atardecer sobre el Amazonas. Cena. Noche en el complejo.",
        },
        {
            day: "Día 3",
            title: "Curaka Expeditions – Visita a Nativos",
            parrafo1:
                "Desayuno. Pesca a orillas del rio Amazonas, pez gato, pirañas entre otros. Observación de la Victoria Regia, planta acuática más grande del mundo. Retorno al Lodge, almuerzo plato típico Pescado Dorado.",
            parrafo2:
                "Retorno a la ciudad, visita a comunidad nativa Bora Bora, conoceremos sus costumbres, dialecto, vestimenta, danzas típicas, se recomienda traer algunos objetos para intercambiar con las artesanías que son hechas a mano. Arribo a Iquitos y traslado al hotel Cauchero o Similiar.",
        },
        {
            day: "Día 4",
            title: "Tour Isla de los Monos",
            parrafo1:
                "Desayuno en Hotel. Inicio a nuestra aventura a las 9:00 Am. Navegando en bote típico y observando el primer atractivo natural, la unión de los ríos Nanay y Amazonas.",
            parrafo2:
                "Continuamos el viaje por el “Rio Amazonas”, hasta llegar a la “ISLA DE LOS MONOS” donde observaremos variedades de primates libres en su habitad, hora indicada almuerzo en Restaurante Flotante a base de pescado, ensalada de chonta, frutas de la selva, refresco.",
            parrafo3:
                "Al retorno visitaremos la comunidad de nativos Yagua para conocer su historia y costumbres. No podía faltar la gran experiencia de conocer animales de la selva, visitaremos el centro de rescate Fundo Pedrito, toma fotográfica a la impresionante Anaconda. Ya retornando por el río podremos apreciar el hermoso Atardecer Amazónico sobre el Rio Amazonas (postales de lujo). Retorno a Iquitos Ciudad.",
        },
        {
            day: "Día 5",
            title: "Iquitos – Tour a Quistococha y Crea",
            parrafo1:
                "9:00 a.m. Recojo de Hotel, Viaje de 1 hora con destino a Amazon Forever Bio Park. A Centro de Rescate (CREA - Manatí), donde aprenderemos sobre la preservación y cuidado de nuestra biodiversidad y fauna amazónica, mediante la importante labor en el rescate, rehabilitación y liberación de los manatíes (actualmente en peligro de extinción).",
            parrafo2:
                "Caminata Etnobotánica de plantas medicinales de la Amazonía y circuito de esculturas donde podrás tomarte las mejores fotos en medio de la naturaleza. Circuito de esculturas donde podrás tomarte las mejores fotos en medio de la naturaleza. Acuario del Paiche, el pez más grande de agua dulce.",
            parrafo3:
                "Luego nos trasladamos con destino a las Playas de Quistococha, visita el Zoológico, también podrá bañarse en las playas, tiempo libre para disfrutar el Lugar, Almuerzo y Traslado a su Hotel.",
        },
        {
            day: "Día 6",
            title: "City Tours Traslado al Aeropuerto",
            parrafo1:
                "Desayuno en el Hotel. Salimos 8 Am. Admirarán los hermosos mosaicos y balcones de hierro que fueron traídos desde Europa para adornar los imponentes edificios que albergaban a los prósperos habitantes de la ciudad más representativa de la Amazonía Peruana en un tiempo. Podrá apreciar la llamada “Casa de Hierro”, diseñada por el renombrado Gustave Eiffel y conocer la interesante historia de cómo finalmente fue edificada en la plaza principal de Iquitos.",
            parrafo2:
                "Conocerá el boulevard de la ciudad, lugar de reunión para naturales y visitantes con su vista impresionante de los ríos y la selva. Una parada en el mercado artesanal le permitirá ver y comprar artesanías coloridas hechas con materiales que se encuentran en el bosque circundante. Seguidamente visitaremos el Museo Amazónico, Histórico lugar construido en 1863, que fue ocupado por la Comandancia General del Ejército, y luego donado a la Prefectura de Loreto. Considerado Patrimonio Histórico Cultural de la Nación, restaurado en 1999, se convirtió en un importante museo de historia y cultura de la región.",
            parrafo3:
                "Exhibe una bella decoración mural en madera tallada y un conjunto de muebles antiguos. Lo más impresionante del museo, es la colección de 80 esculturas hechas en fibra de vidrio con representaciones en tamaño natural de las principales comunidades nativas del Amazonas del Perú, Brasil y Venezuela. (Opcional Tour Quiticocha). Al finalizar el recorrido, lo trasladaremos a su hotel o al aeropuerto para abordar su vuelo de retorno.",
        },
    ],
};

const relatedTours = [
    {
        image: "/../tours/culturayaventurasenlaselva.avif",
        title: "Cultura y Aventura en la Selva (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-heliconia-lodge/cultura-y-aventuras-en-la-selva-5-dias-4-noches",
    },
    {
        image: "/../tours/iquitosdeaventura.avif",
        title: "Iquitos de Aventura (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-irapay-amazon/iquitos-de-aventura-5-dias-4-noches",
    },
    {
        image: "/../tours/pacayasamiria3.avif",
        title: "Expedición Pacaya Samiria (5D/4N) - Desde Iquitos",
        duration: "5 días | 4 noches",
        link: "../tours-pacaya-samiria/tour-5-dias-4-noches",
    },
];

const accordionItems = [
    {
        title: "El Programa Incluye",
        content: [
            "Recojo del Aeropuerto Lodge Aeropuerto.",
            "Hotel 5 Noches / 3 En Cumaceba Kuraka Inn / 2 en la ciudad.",
            "Desayunos.",
            "Guía Profesional.",
            "Transporte Fluvial privado.",
            "Alimentación completa en el Lodge.",
            "Botas de Jebe.",
            "Botiquín de Primeros Auxilios.",
            "Atención Personalizada de Iquitos Expedition.",
        ],
    },
    {
        title: "El Programa No Incluye",
        content: [
            "Vuelos.",
            "Cenas en la ciudad.",
            "Bebidas.",
            "Hotel en la ciudad.",
            "Entre otros no mencionados.",
        ],
    },
    {
        title: "Qué Traer con Usted",
        content: [
            "Ropa Ligera.",
            "Chaqueta de Lluvia.",
            "Repelente.",
            "Bloqueador Solar.",
            "Camisa Mangalarga.",
            "Ropa de baño.",
            "Sombrero o Gorra.",
            "Cámara fotográfica.",
            "Lentes de Sol.",
            "Caña de Pescar. (Opcional)",
            "Buen Ánimo.",
        ],
    },
];
---

<section
    class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-3 gap-10 my-16"
>
    <div class="lg:col-span-2 space-y-4">
        <div class="flex items-center gap-2 mb-4">
            <a
                href="#"
                onclick="history.back()"
                class="flex items-center text-green-950 hover:text-orange-600 transition-all font-medium"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="w-6 h-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 19l-7-7 7-7"></path>
                </svg>
                Volver
            </a>
        </div>
        <img
            src={tour.image}
            alt={tour.title}
            class="w-full h-60 sm:h-80 object-cover rounded-xl shadow-md"
        />

        <div
            class="flex flex-col sm:flex-row sm:items-center sm:justify-between"
        >
            <h1
                class="text-xl sm:text-3xl font-bold text-gray-900 leading-tight"
            >
                {tour.title}
            </h1>
            <a
                href="https://wa.link/r945ib"
                class="mt-4 sm:mt-0 w-full sm:w-auto text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md"
                target="_blank"
            >
                Consultar ahora
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <div class="space-y-4">
            {
                tour.itinerary.map((item) => (
                    <div class="bg-gray-50 p-2 rounded-lg shadow-sm">
                        <h2 class="text-lg sm:text-xl font-bold text-green-950 underline mb-3">
                            {item.day}. {item.title}
                        </h2>
                        <div class="space-y-4">
                            {[
                                item.parrafo1,
                                item.parrafo2,
                                item.parrafo3,
                                item.parrafo4,
                            ]
                                .filter((parrafo) => parrafo)
                                .map((parrafo) => (
                                    <p class="text-gray-700 leading-relaxed">
                                        {parrafo}
                                    </p>
                                ))}
                        </div>
                    </div>
                ))
            }
        </div>

        <div class="space-y-4">
            {
                accordionItems.map((item) => (
                    <details class="bg-blue-50 rounded-lg shadow-sm p-4">
                        <summary class="text-lg sm:text-xl font-semibold cursor-pointer text-green-950">
                            {item.title}
                        </summary>
                        <ul class="mt-2 space-y-1 text-gray-700">
                            {item.content.map((text) => (
                                <li class="ml-4 list-disc">{text}</li>
                            ))}
                        </ul>
                    </details>
                ))
            }
        </div>
        <div class="flex flex-col">
            <a
                href="https://wa.link/r945ib"
                class="mt-2 w-full text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md"
                target="_blank"
            >
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </a>
        </div>
    </div>

    <aside
        class="lg:col-span-1 order-last lg:order-none sticky top-10 space-y-6 self-start"
    >
        <h3 class="text-xl sm:text-2xl text-center font-bold text-gray-900">
            También te <br /> puede interesar
        </h3>
        <div
            class="max-h-[670px] overflow-y-auto space-y-4 scrollbar-thin scrollbar-thumb-green-300 scrollbar-track-green-100"
        >
            {
                relatedTours.map((tour) => (
                    <a
                        href={tour.link}
                        class="block border rounded-xl overflow-hidden shadow-md transition-transform transform hover:shadow-lg bg-white"
                    >
                        <img
                            src={tour.image}
                            alt={tour.title}
                            class="w-full h-32 sm:h-40 object-cover"
                        />

                        <div class="bg-green-950 text-white text-sm flex justify-center gap-2 py-2">
                            <span class="flex items-center">
                                <i class="fa-solid fa-calendar-check mr-2" />
                                {tour.duration}
                            </span>
                        </div>

                        <div class="p-4 text-center">
                            <h4 class="text-lg font-semibold text-gray-900">
                                {tour.title}
                            </h4>

                            <span class="mt-3 inline-block bg-green-950 hover:bg-green-800 transition-all py-2 px-4 text-white font-medium rounded-md">
                                Ver itinerario
                            </span>
                        </div>
                    </a>
                ))
            }
        </div>
    </aside>
</section>
