---
const tours = [
    {
        image: "/../tours/inolvidablerioamazonas.png",
        title: "Inolvidable Río Amazonas (3D/2N)",
        description: "Vive tres días de magia en la selva, explorando el majestuoso río Amazonas y disfrutando de la naturaleza, el confort y la aventura.",
        link: "./tours-heliconia-lodge/inolvidable-rio-amazonas-3-dias-2-noches"
    },
    {
        image: "/../tours/maravillasdelaamazonia.png",
        title: "Descubre Las Maravillas De La Amazonía (4D/3N)",
        description: "Explora la selva amazónica en cuatro días llenos de aventuras, biodiversidad y experiencias inolvidables.",
        link: "./tours-heliconia-lodge/descubre-las-maravillas-de-la-amazonia-4-dias-3-noches"
    },
    {
        image: "/../tours/culturayaventurasenlaselva.png",
        title: "Cultura Y Aventuras En La Selva (5D/4N)",
        description: "Sumérgete en la cultura amazónica y disfruta de cinco días de emocionantes aventuras en plena selva.",
        link: "./tours-heliconia-lodge/cultura-y-aventuras-en-la-selva-5-dias-4-noches"
    }
];
---
<section class="bg-white my-12">
    <div class="max-w-7xl mx-auto px-6 space-y-6">
        <ul class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            {tours.map((tour) => (
            <li class="border-gray-300 text-gray-700 hover:bg-gray-100 rounded-xl border transition-colors duration-200">
                <article>
                    <img src={tour.image} alt={tour.title} class="w-full h-80 rounded-t-xl object-cover" loading="lazy" />
                    <div class="w-full">
                        <div class="flex flex-col justify-start gap-3 p-4">
                            <h2 class="text-xl font-bold">
                                {tour.title}
                            </h2>
                            <p class="text-md text-gray-700">
                                {tour.description}
                            </p>
                            <div class="flex items-center gap-4">
                                <a href={tour.link} class="inline-flex">
                                    <span class="bg-green-950 hover:bg-orange-600 transition-colors duration-300 py-3 px-6 text-sm font-bold text-white rounded-md">
                                        Ver itinerario
                                    </span>
                                </a>
                                <a href="https://wa.link/kn19ze" target="_blank" class="inline-flex">
                                    <span class="border border-green-950 text-green-950 hover:bg-orange-600 hover:border-orange-600 hover:text-white transition-colors duration-300 py-3 px-6 text-sm font-bold rounded-md">
                                        Consultar ahora
                                        <i class="fa-brands fa-whatsapp fa-xl"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            ))}
        </ul>
    </div>
</section>