---
const tour = {
    image: "/../tours/pacayasamiriadesdeyurimaguas6d5n.png",
    title: "Tours Reserva Nacional Pacaya Samiria (6D/5N).",
    itinerary: [
        {
            day: "Día 1",
            title: "Recojo Yurimaguas Lagunas – Posa Gloria.",
            parrafo1: "4:00 AM Personal de nuestra agencia pasara por tu hotel para trasladarle al puerto de la ciudad de Yurimaguas. En seguida iniciamos nuestro viaje de 4 horas en transporte fluvial hasta la comunidad de Lagunas, donde nos reunimos con nuestros guías nativos. Después del desayuno iniciamos con nuestro traslado de 30 minutos en moto taxi hasta puerto Tibilo.",
            parrafo2: "10:00 AM Iniciamos nuestra expedición, este día usaremos embarcaciones artesanales para trasladarnos por 5 horas por el rio Tibilo hasta nuestra cabaña que está ubicada en el sector llamado Posa Gloria. Durante nuestras visitas haremos observación de aves endémicas, avistamiento de cocodrilos, pesca de pirañas entre otras actividades."
        },
        {
            day: "Día 2",
            title: "Posa Gloria – Panteon",
            parrafo1: "8:00 AM Después del desayuno, iniciamos el día en canoa para movilizarse durante la excursión, este día haremos avistamiento de cocodrilos, monos,aves exóticas de la amazonia, pesca de pirañas entre otras actividades, durante la tarde tendremos un trekking de 2 horas, donde podremos conocer plantas medicinales y arboles gigantes.",
            parrafo2: "7:00 PM Iniciamos nuestra visita nocturna para avistar cocodrilos, hacer pesca de Pirañas y disfrutar de leyendas de la amazonia y la paz que nos brinda la naturaleza."
        },
        {
            day: "Día 3",
            title: "Panteon – Camotal",
            parrafo1: "8:00 AM Iniciamos nuestro viaje 4 horas hasta el punto llamado Camotal, durante nuestro tour podremos apreciar delfines, lobos de rio, monos y aves acuáticas. Almuerzo en Camotal, por la tarde usted tendrá libre para que pueda nadar y disfrutar de la paz que nos brinda la naturaleza."
        },
        {
            day: "Día 4",
            title: "Panteón",
            parrafo1: "8:00 AM Iniciamos nuestra excursión con 4 horas de Trekking en la Reserva Nacional Pacaya-Samiria, donde podrás ver gran diversidad de plantas medicinales, plantas comestibles, lianas con agua bebible y haremos actividades recreativas.",
            parrafo2: "1:00 PM Almuerzo en Comotal,en seguida tendremos paseo en canoa,pesca deportiva, por la noche haremos fogata y nuestros guías nos contaran leyendas tradicionales de la amazonia."
        },
        {
            day: "Día 5",
            title: "Panteon – Posa Gloria",
            parrafo1: "8:00 AM Iniciamos nuestro viaje de retorno 7 horas hasta la cabaña de Posa Gloria, durante nuestro retorno haremos paradas para tomas fotográficas, almuerzo y otras actividades. Arribo a Posa Gloria 5 pm, cena y pernocte."
        },
        {
            day: "Día 6",
            title: "Posa Gloria – Lagunas – Yurimaguas",
            parrafo1: "5:00 AM Iniciamos nuestro viaje de retorno por 6 horas hasta puerto Tibilo donde nos espera nuestra movilidad para trasladarnos a la comunidad de Lagunas. Almuerzo y traslado al puerto para nuestro viaje de retorno a la ciudad de Yurimaguas."
        }
    ],
};

const relatedTours = [
    {
        image: "/../tours/pacayasamiria5.png",
        title: "Tours Pacaya Samiria (8D/7N)",
        duration: "8 días | 7 noches",
        link: "../tours-pacaya-samiria/tour-8-dias-7-noches",
    },
    {
        image: "/../tours/iquitosdeaventura.png",
        title: "Iquitos de Aventura (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-irapay-amazon/iquitos-de-aventura-5-dias-4-noches",
    },
    {
        image: "/../tours/culturayaventurasenlaselva.png",
        title: "Cultura y Aventura en la Selva (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-heliconia-lodge/cultura-y-aventuras-en-la-selva-5-dias-4-noches",
    },
];

const accordionItems = [
    {
        title: "Nuestro Servicio Incluye",
        content: [
            "Transporte:",
            "Transporte terrestre desde y hasta zonas de embarque.",
            "Navegaciones.",
            "5 noches de alojamiento.",
            "Alimentación:",
            "Desayuno.",
            "Almuerzo.",
            "Cena.",
            "Equipo de campamento.",
            "Equipo de pesca.",
            "Guías nativos.",
            "Ticket de entrada a parques."
        ]
    },
    {
        title: "Nuestro Servicio No Incluye",
        content: [
            "Pasajes aéreos.",
            "Bebidas.",
            "Alimentación extra.",
            "Seguro de viaje.",
            "Propinas (opcional)."
        ]
    },
    {
        title: "Sugerimos llevar con usted:",
        content: [
            "Mochila de 40 a 60 litros para llevar las cosas que utilizarás durante el tour.",
            "Mochila de 25 litros para las caminatas cortas que realizarás durante el día.",
            "Camisetas o camisas manga larga.",
            "Pantalón y chaqueta impermeables.",
            "Poncho de lluvia.",
            "Zapatos de trekking.",
            "Snacks.",
            "Gorro para el sol.",
            "Bloqueador solar.",
            "Repelente de insectos.",
            "Binoculares.",
            "Linterna frontal.",
            "Bolsas Ziploc o similar (para envolver tu ropa y evitar mojarla en caso de lluvia).",
            "Dinero extra para gastos no incluidos en el tour.",
            "Seguro de viaje."
        ]
    }
];
---
<section class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-3 gap-10 my-16">
    <div class="lg:col-span-2 space-y-4">
        <div class="flex items-center gap-2 mb-4">
            <a href="#" onclick="history.back()" class="flex items-center text-green-950 hover:text-orange-600 transition-all font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"/>
                </svg>
                Volver
            </a>
        </div>
        <img src={tour.image} alt={tour.title} class="w-full h-60 sm:h-80 object-cover rounded-xl shadow-md" />

        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
            <h1 class="text-xl sm:text-3xl font-bold text-gray-900 leading-tight">
                {tour.title}
            </h1>
            <a href="https://wa.link/8sntza" 
               class="mt-4 sm:mt-0 w-full sm:w-auto text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <div class="space-y-4">
            <h2 class="text-xl sm:text-2xl font-bold text-green-950 underline">
                Reserva Nacional Pacaya Samiria, Loreto, Perú
            </h2>
            <p class="text-gray-700 leading-relaxed">
                La Reserva Nacional Pacaya Samiria es conocida por ser una de las zonas del país de mayor belleza natural. 
                El objetivo de este Tour a Pacaya-Samiria es que descubras la espectacular diversidad natural de flora y fauna, 
                la magnífica vida silvestre y la historia de la región. Si buscas conocer la selva de verdad, ¡este tour es para ti!
            </p>
        </div>

        <div class="space-y-4">
            {tour.itinerary.map((item) => (
              <div class="bg-gray-50 p-2 rounded-lg shadow-sm">
                <h2 class="text-lg sm:text-xl font-bold text-green-950 underline mb-3">
                  {item.day}. {item.title}
                </h2>
                <div class="space-y-4">
                  {[
                    item.parrafo1,
                    item.parrafo2
                  ]
                    .filter((parrafo) => parrafo)
                    .map((parrafo) => (
                      <p class="text-gray-700 leading-relaxed">{parrafo}</p>
                    ))}
                </div>
              </div>
            ))}
        </div>

        <div class="space-y-2 py-10">
            <p class="text-green-950 leading-relaxed font-semibold text-left uppercase">
                ¡BUEN VIAJE…DISFRÚTELO!
            </p>
            <p class="text-gray-700 leading-relaxed text-left">
                El orden de algunas actividades puede variar debido a condiciones climáticas o situaciones operacionales.
            </p>
        </div>

        <div class="space-y-4">
            {accordionItems.map((item) => (
                <details class="bg-blue-50 rounded-lg shadow-sm p-4">
                    <summary class="text-lg sm:text-xl font-semibold cursor-pointer text-green-950">
                        {item.title}
                    </summary>
                    <ul class="mt-2 space-y-1 text-gray-700">
                        {item.content.map((text) => (
                            <li class="ml-4 list-disc">{text}</li>
                        ))}
                    </ul>
                </details>
            ))}
        </div>
        <div class="flex flex-col">
            <a href="https://wa.link/8sntza" class="mt-2 w-full text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </a>
        </div>
    </div>

    <aside class="lg:col-span-1 order-last lg:order-none sticky top-10 space-y-6 self-start">
        <h3 class="text-xl sm:text-2xl text-center font-bold text-gray-900">
            También te <br /> puede interesar
        </h3>
        <div class="max-h-[670px] overflow-y-auto space-y-4 scrollbar-thin scrollbar-thumb-green-300 scrollbar-track-green-100">
            {relatedTours.map((tour) => (
                <a href={tour.link} class="block border rounded-xl overflow-hidden shadow-md transition-transform transform hover:shadow-lg bg-white">
                    <img src={tour.image} alt={tour.title} class="w-full h-32 sm:h-40 object-cover"/>
                    
                    <div class="bg-green-950 text-white text-sm flex justify-center gap-2 py-2">
                        <span class="flex items-center">
                            <i class="fa-solid fa-calendar-check mr-2"></i>
                            {tour.duration}
                        </span>
                    </div>

                    <div class="p-4 text-center">
                        <h4 class="text-lg font-semibold text-gray-900">{tour.title}</h4>
                        
                        <span class="mt-3 inline-block bg-green-950 hover:bg-green-800 transition-all py-2 px-4 text-white font-medium rounded-md">
                            Ver itinerario
                        </span>
                    </div>
                </a>
            ))}
        </div>
    </aside>
</section>