---
const tour = {
    image: "/../tours/pacayasamiriadesdeiquitos5d4n.avif",
    title: "Expedición Pacaya Samiria (5D/4N) - Desde Iquitos.",
    itinerary: [
        {
            day: "Día 1",
            title: "Iquitos / Nauta / Pacaya Samiria.",
            parrafo1: "Recepción en el aeropuerto de Iquitos y traslado a la ciudad o recojo de su hotel. Durante el recorrido se le ofrecerá una breve orientación de Iquitos, observando los principales lugares turísticos de esta pujante e histórica ciudad del Oriente Peruano que en el siglo XIX paso a convertirse de pequeño poblado al más importante puerto fluvial en el Amazonas, adquiriendo una sorprendente condición cosmopolita durante la denominada “Fiebre del Caucho”.",
            parrafo2: "Traslado a la ciudad de Nauta distante a unos 100km. vía terrestre por la nueva carretera Iquitos-Nauta. La ruta atraviesa una gran diversidad de ecosistemas entre los que destacan humedales de bosque frondoso del Parque Turístico Nacional de Quistococha; chamizales y varillales con suelo de arenas blancas en los que se ubica la Reserva Nacional de Allpahuayo Mishana, lugar privilegiado para la observación de fauna aviar entre las que se incluyen especies endémicas.",
            parrafo3: "Luego de aproximadamente 2 horas de viaje llegará a Nauta, una pequeña y pintoresca ciudad a orillas del río Marañón. Antes de abordar la embarcación que lo transportará a la Reserva Nacional Pacaya-Samiria, dispondrá de tiempo para realizar una corta caminata por los alrededores de Nauta y disfrutar de un delicioso almuerzo. Navegación aguas arriba del río Marañón. El Marañón que conjuntamente con el Ucayali dan nacimiento al imponente río Amazonas, tiene su origen a más de 1500Km. en las alturas de Huánuco.",
            parrafo4: "Fue a través de esta vía fluvial que gran parte de la Amazonía fue explorada y colonizada desde el Siglo XVI cuando los conquistadores españoles buscaban “el país donde todo es de oro”. Actualmente el río Marañón nos permite conocer una riqueza natural incalculable al navegar por sus aguas hacia una de las reservas naturales más grandes del Perú.",
            parrafo5: "El recorrido en bote dura aproximadamente 2 horas y media hasta acceder a la zona interna del Pacaya-Samiria en la cuenca del río Yanayacu-Pucate (180Km. al SE de Iquitos). El viaje será muy interesante ya que desde un inicio podrá apreciar el hermoso paisaje que se extiende frente a sus ojos.",
            parrafo6: "La interminable vegetación y el cielo celeste con nubes de formas caprichosas conforman junto con el color chocolate del Marañón un marco extraordinario para apreciar bandadas de loros, guacamayos y garzas blancas que vuelan de una orilla a otra. Ingreso a la Reserva Nacional Pacaya-Samiria.",
            parrafo7: "Navegaremos por el río Yanayacu en el que apreciaremos el color oscuro de sus aguas que permiten un límpido reflejo, característica de los ríos y cochas de la reserva, realizando una breve parada para registrarnos en el puesto de vigilancia de Santo Domingo. Al cabo de unos minutos proseguiremos hacia el lugar donde instalaremos el primer campamento.",
            parrafo8: "Campamento en ubicación cercana a la comunidad de Arequipa. Luego de haber navegado aproximadamente una hora al interior de la reserva, nos detendremos para levantar nuestro campamento a orillas del Yanayacu. Mientras nuestro personal prepara todo lo necesario para que disfrute de un descanso reparador, usted podrá aprovechar el resto de la tarde para tomar fotos del paisaje mientras cae la noche o hace una corta caminata para familiarizarse con los pobladores de la comunidad cercana. Nuestro experto cocinero tendrá oportunamente una sabrosa cena. Pernocte en una cómoda y segura carpa (tienda de campaña), muy a menudo bajo el cielo estrellado que parece inspirar los sonidos producidos por las criaturas de la selva."
        },
        {
            day: "Día 2",
            title: "Pacaya Samiria",
            parrafo1: "Si usted se despierta muy temprano podrá deleitarse observando las aves que salen de sus nidos en busca del alimento que les provee el río. Luego de un fortalecedor desayuno, se realizará la primera excursión por el río Yanayacu-Pucate con grandes perspectivas de observar más vida silvestre conforme se va penetrando en la reserva. Nuestro siguiente destino es la laguna de Shansho Cocha, ubicada a hora y media de viaje.",
            parrafo2: "En el trayecto se podrá observar el hermoso paisaje donde destacan los árboles gigantes como la Lupuna (Ceiba pentandra), la Capirona, el Capinurí (Heliocostilis scabra) y también las aves como el tucán (Pteroglossus sp.), guacamayo rojo (Ara macao), guacamayo amarillo (Ara ararauna), garza blanca grande (Egreta alba), martín pescador (Chloroceryele sp.).",
            parrafo3: "Al llegar a Shansho Cocha podremos avistar al Hoatzín o “Shansho” (Opysthocomus hoazin), ave con características prehistóricas que anida y se alimenta a orillas de esta laguna. Retorno al campamento y almuerzo. Después de un breve descanso continuaremos la excursión por la Quebrada de Yanayaquillo donde es posible observar monos frailes (Saimiri boliviensis), “pichicos” (Saguinus fuscicollis) y perezosos (Bradypus variegatus). Retorno al campamento, cena y pernocte."
        },
        {
            day: "Día 3",
            title: "Pacaya Samiria",
            parrafo1: "Desayuno. Excursión matutina por la quebrada de Japón y la laguna de Yanta donde aparte de realizar un avistamiento de aves mientras estas se alimentan, dispondremos de un tiempo para pescar. Entre las especies ictiológicas que abundan en la reserva se encuentran la piraña (Serrasalmus sp.), el sábalo (Brycun americus), la sardina (Triportheus sp.), entre otros.",
            parrafo2: "Retorno al campamento. Almuerzo. Paseo en canoa para apreciar los paisajes maravillosos de la reserva que ha conocido durante este viaje. Una oportunidad para fotografiar a las aves que retornan a sus nidos al llegar la noche.",
            parrafo3: "Cena y comentarios finales de su guía sobre el programa realizado. Pernocte en campamento."
        },
        {
            day: "Día 4",
            title: "Pacaya Samiria",
            parrafo1: "Desayuno madrugador para luego levantar el campamento y navegar dos horas por el río Yanayacu hacía la Sacarita de Yarina. Durante el viaje podrá observar la presencia de los graciosos delfines rosados (Inia geoffrenssis) y taricaya como se conoce localmente a estas tortugas de río (Podocnemis unifilis). Es posible que durante el trayecto puedan aparecer los escurridizos lobos de río (Ptenerura brasiliensis), hábiles nadadores y pescadores. Llegada a la zona del destino e instalación del campamento. Almuerzo a orillas del río contemplando el esplendoroso paisaje. Caminata de reconocimiento para poder apreciar la exquisita flora y fauna de esta área. Cena y comentarios de su guía sobre el programa del día siguiente. Pernocte en el campamento."
        },
        {
            day: "Día 5",
            title: "Pacaya Samiria / Nauta / Iquitos",
            parrafo1: "Desayuno y última oportunidad de tomar fotos en la Reserva Nacional Pacaya-Samiria. Luego que nuestro personal levante el campamento se iniciará el retorno aguas abajo por río Marañón hasta la ciudad de Nauta. Un auto o bus le llevará de vuelta a Iquitos donde nuestros trasladista lo conducirán a su hotel o al aeropuerto para abordar el vuelo de retorno a Lima."
        }
    ],
};

const relatedTours = [
    {
        image: "/../tours/cumaceba3.avif",
        title: "Cumaceba Lodge (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-cumaceba-lodge/tour-5-dias-4-noches",
    },
    {
        image: "/../tours/iquitosdeaventura.avif",
        title: "Iquitos de Aventura (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-irapay-amazon/iquitos-de-aventura-5-dias-4-noches",
    },
    {
        image: "/../tours/culturayaventurasenlaselva.avif",
        title: "Tours Reserva Nacional Pacaya Samiria (5D/4N) - Desde Iquitos",
        duration: "5 días | 4 noches",
        link: "../tours-pacaya-samiria/tour-5-dias-4-noches",
    },
];

const accordionItems = [
    {
        title: "Nuestro Servicio Incluye",
        content: [
            "Traslados aeropuerto / hotel / Pacaya Samiria / hotel / aeropuerto (terrestre y fluvial).",
            "Entrada a la Reserva Nacional Pacaya-Samiria.",
            "04 noches en campamentos itinerantes.",
            "Todas las comidas.",
            "Excursiones como se detallan en el programa.",
            "Guía en inglés o español."
        ]
    },
    {
        title: "Nuestro Servicio No Incluye",
        content: [
            "Tickets aéreos.",
            "Impuestos en aeropuerto.",
            "Propinas.",
            "Lavandería.",
            "Gaseosas y bebidas alcohólicas."
        ]
    },
    {
        title: "Recomendaciones",
        content: [
            "¿Qué traer a la selva? tenga en cuenta traer lo siguiente:",
            "Pantalones y camisas de algodón livianas de manga larga.",
            "Bermudas o shorts delgados.",
            "Polos de algodón o camisas de manga corta.",
            "Bloqueador de sol.",
            "Gorra con visera o sombrero liviano.",
            "Cámara y/o filmadora con batería recargable.",
            "Loción o crema repelente para mosquitos.",
            "Poncho o chaqueta impermeable liviana.",
            "Zapatillas o botines cómodos para caminar.",
            "Linterna personal.",
            "Ropa de baño.",
            "Binoculares son opcionales."
        ]
    }
];
---
<section class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-3 gap-10 my-16">
    <div class="lg:col-span-2 space-y-4">
        <div class="flex items-center gap-2 mb-4">
            <a href="#" onclick="history.back()" class="flex items-center text-green-950 hover:text-orange-600 transition-all font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"/>
                </svg>
                Volver
            </a>
        </div>
        <img src={tour.image} alt={tour.title} class="w-full h-60 sm:h-80 object-cover rounded-xl shadow-md" />

        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
            <h1 class="text-xl sm:text-3xl font-bold text-gray-900 leading-tight">
                {tour.title}
            </h1>
            <a href="https://wa.link/ovorl7" 
               class="mt-4 sm:mt-0 w-full sm:w-auto text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <div class="space-y-4">
            <div class="bg-white p-2">
                <p class="text-gray-700 leading-relaxed text-justify mb-3">
                    Experiencia inolvidable en una de las áreas más ricas en biodiversidad que aún existen en el planeta. No solamente tendrá la oportunidad de acercarse a las especies más representativas de la Amazonía, sino que penetrará en sus dominios. Conocerá también cómo la población ribereña que habita en el perímetro de la reserva lleva a cabo programas de conservación y desarrollo sostenible para mantener inalterable uno de los últimos grandes bosques tropicales inundables.
                </p>
            </div>
        </div>

        <div class="space-y-4">
            {tour.itinerary.map((item) => (
              <div class="bg-gray-50 p-2 rounded-lg shadow-sm">
                <h2 class="text-lg sm:text-xl font-bold text-green-950 underline mb-3">
                  {item.day}. {item.title}
                </h2>
                <div class="space-y-4">
                  {[
                    item.parrafo1,
                    item.parrafo2,
                    item.parrafo3,
                    item.parrafo4,
                    item.parrafo5,
                    item.parrafo6,
                    item.parrafo7,
                    item.parrafo8
                  ]
                    .filter((parrafo) => parrafo)
                    .map((parrafo) => (
                      <p class="text-gray-700 leading-relaxed">{parrafo}</p>
                    ))}
                </div>
              </div>
            ))}
        </div>

        <div class="space-y-2 py-10">
            <p class="text-green-950 leading-relaxed font-semibold text-left uppercase">
                ¡BUEN VIAJE…DISFRÚTELO!
            </p>
            <p class="text-gray-700 leading-relaxed text-left">
                El orden de algunas actividades puede variar debido a condiciones climáticas o situaciones operacionales.
            </p>
        </div>

        <div class="space-y-4">
            {accordionItems.map((item) => (
                <details class="bg-blue-50 rounded-lg shadow-sm p-4">
                    <summary class="text-lg sm:text-xl font-semibold cursor-pointer text-green-950">
                        {item.title}
                    </summary>
                    <ul class="mt-2 space-y-1 text-gray-700">
                        {item.content.map((text) => (
                            <li class="ml-4 list-disc">{text}</li>
                        ))}
                    </ul>
                </details>
            ))}
        </div>
        <div class="space-y-4 bg-yellow-50 p-4 rounded-lg shadow-md border-l-4 border-yellow-400">
            <h3 class="text-lg font-bold text-yellow-900">
                Recomendación para elegir horario de vuelos para el ingreso y salida de IQUITOS.
            </h3>
            <p class="text-gray-700 leading-relaxed">
                <strong>Primeros vuelos de llegada:</strong> Lima - Iquitos (Tomar vuelos que lleguen antes de las 09:00 am)
            </p>
            <p class="text-gray-700 leading-relaxed">
                <strong>Últimos vuelos de salida:</strong> Iquitos - Lima (Tomar vuelos que salgan después de las 18:00 hrs)
            </p>
            <p class="text-gray-700 leading-relaxed">
                De llegar o salir en otro horario, el programa no podrá realizarse adecuadamente.
            </p>
        </div>
        <div class="flex flex-col">
            <a href="https://wa.link/ovorl7" class="mt-2 w-full text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </a>
        </div>
    </div>

    <aside class="lg:col-span-1 order-last lg:order-none sticky top-10 space-y-6 self-start">
        <h3 class="text-xl sm:text-2xl text-center font-bold text-gray-900">
            También te <br /> puede interesar
        </h3>
        <div class="max-h-[670px] overflow-y-auto space-y-4 scrollbar-thin scrollbar-thumb-green-300 scrollbar-track-green-100">
            {relatedTours.map((tour) => (
                <a href={tour.link} class="block border rounded-xl overflow-hidden shadow-md transition-transform transform hover:shadow-lg bg-white">
                    <img src={tour.image} alt={tour.title} class="w-full h-32 sm:h-40 object-cover"/>
                    
                    <div class="bg-green-950 text-white text-sm flex justify-center gap-2 py-2">
                        <span class="flex items-center">
                            <i class="fa-solid fa-calendar-check mr-2"></i>
                            {tour.duration}
                        </span>
                    </div>

                    <div class="p-4 text-center">
                        <h4 class="text-lg font-semibold text-gray-900">{tour.title}</h4>
                        
                        <span class="mt-3 inline-block bg-green-950 hover:bg-green-800 transition-all py-2 px-4 text-white font-medium rounded-md">
                            Ver itinerario
                        </span>
                    </div>
                </a>
            ))}
        </div>
    </aside>
</section>