---
const tour = {
    image: "/../tours/pacayasamiriadesdeiquitos4d3n.avif",
    title: "Pacaya Samiria (4D/3N) - Desde Iquitos.",
    itinerary: [
        {
            day: "Día 1",
            title: "Iquitos / Nauta/ Comunidad Arequipa (Reserva Nacional Pacaya Samiria)",
            parrafo1: "Recepción en el aeropuerto a cargo de nuestro personal o recojo en el hotel. Breve orientación de la ciudad de Iquitos, observando los principales lugares turísticos de esta representativa ciudad del Oriente Peruano cuya fundación se remonta al Siglo XIX.",
            parrafo2: "Traslado por vía terrestre a la Ciudad de Nauta a unos 100 Km. de distancia, pintoresca ciudad ubicada a orillas del río Marañón donde después de disfrutar de un delicioso almuerzo abordarán el bote que les trasladará hacia la comunidad de Arequipa; en el trayecto, nuestra primera parada será Santo Domingo, pequeña comunidad y primer puesto de control al ingresar a la Reserva Nacional Pacaya Samiria.",
            parrafo3: "Ya en la zona de Arequipa tendremos nuestro primer contacto con la naturaleza y la gente que habita en esta parte de la Reserva. Instalación de nuestro campamento, para después realizar una pequeña excursión nocturna por la zona para observar variedad de aves nocturnas y lagartos. Cena y Pernocte."
        },
        {
            day: "Día 2",
            title: "Excursión en la zona de Arequipa (Reserva Nacional Pacaya Samiria)",
            parrafo1: "Al despertar con las primeras luces de la mañana, podrá observar a las aves que salen de sus nidos en busca de sus respectivos alimentos y deleitarse con el trinar de las mismas. Después de disfrutar un fortificante desayuno, iniciamos nuestra primera excursión explorando la laguna de Shansho Cocha, que se localiza a una hora y media aproximada de camino, en medio de la exuberante selva, en el trayecto se podrá observar árboles gigantes como la lupuna (Ceiba pentandra), capirona, capinuri (Helicostylis scabra), dignos representantes de la flora. También aves como el tucán (Pteroglossus sp.), guacamayo rojo (Ara macao), guacamayo amarillo (Ara ararauna), garzas blancas grandes (Egreta alba), martín pescador (Chloroceryle sp.) y disfrutar de los hermosos paisajes que nos brinde la naturaleza.",
            parrafo2: "Retorno al campamento, que esta vez será a orillas del Río Yanayacu. Almuerzo.",
            parrafo3: "Después de disfrutar un determinado tiempo de relajo, continuamos con nuestra excursión por la tarde visitando la quebrada de Yanayaquillo, con el propósito de observar variedades de monos, como frailes (Saimirí boliviensis), los osos perezosos (Bradypus variegatus), y disfrutar de los paisajes. Retorno al campamento. Cena y Pernocte."
        },
        {
            day: "Día 3",
            title: "Excursión Quebrada Japón - Laguna de Yanta (Reserva Nacional Pacaya Samiria)",
            parrafo1: "Desayuno. Excursión por las lagunas cercanas donde es posible observar variedades de aves y las especies ictiológicas como las pirañas (Serrasalmus sp.), sábalos (Brycon sp.), sardinas (Triportheus sp.) que nos permitirá realizar nuestro tour de pesca durante la mañana.",
            parrafo2: "Retorno al campamento muy cerca a la Quebrada Japón. Almuerzo.",
            parrafo3: "Durante la tarde y con el caer del sol, dándole el último adiós a nuestra permanencia en la reserva, realizaremos paseos en canoas, tomas fotográficas de las aves que retornan a sus nidos al llegar la noche. Cena y pernocte."
        },
        {
            day: "Día 4",
            title: "Reserva Nacional Pacaya Samiria / Nauta / Iquitos",
            parrafo1: "Desayuno. Retorno a la ciudad de Nauta. Almuerzo. Vía terrestre traslado a la ciudad de Iquitos. A hora oportuna traslado al hotel seleccionado o aeropuerto para abordar su vuelo de retorno."
        }
    ],
};

const relatedTours = [
    {
        image: "/../tours/cumaceba2.avif",
        title: "Cumaceba Lodge (4D/3N)",
        duration: "4 días | 3 noches",
        link: "../tours-cumaceba-lodge/tour-4-dias-3-noches",
    },
    {
        image: "/../tours/maravillasdelaamazonia.avif",
        title: "Descubre las Maravillas de la Amazonía (4D/3N)",
        duration: "4 días | 3 noches",
        link: "../tours-heliconia-lodge/descubre-las-maravillas-de-la-amazonia-4-dias-3-noches",
    },
    {
        image: "/../tours/explorandoamazonas.avif",
        title: "Explorando el Amazonas (3D/2N)",
        duration: "4 días | 3 noches",
        link: "../tours-irapay-amazon/explorando-el-amazonas-4-dias-3-noches",
    },
];

const accordionItems = [
    {
        title: "Nuestro Servicio Incluye",
        content: [
            "Traslados aeropuerto / hotel / Pacaya Samiria / hotel / aeropuerto (terrestre y fluvial).",
            "Entrada a la Reserva Nacional Pacaya-Samiria.",
            "04 noches en campamentos itinerantes.",
            "Todas las comidas.",
            "Excursiones como se detallan en el programa.",
            "Guía en inglés o español."
        ]
    },
    {
        title: "Nuestro Servicio No Incluye",
        content: [
            "Tickets aéreos.",
            "Impuestos en aeropuerto.",
            "Propinas.",
            "Lavandería.",
            "Gaseosas y bebidas alcohólicas."
        ]
    },
    {
        title: "Recomendaciones",
        content: [
            "¿Qué traer a la selva? tenga en cuenta traer lo siguiente:",
            "Pantalones y camisas de algodón livianas de manga larga.",
            "Bermudas o shorts delgados.",
            "Polos de algodón o camisas de manga corta.",
            "Bloqueador de sol.",
            "Gorra con visera o sombrero liviano.",
            "Cámara y/o filmadora con batería recargable.",
            "Loción o crema repelente para mosquitos.",
            "Poncho o chaqueta impermeable liviana.",
            "Zapatillas o botines cómodos para caminar.",
            "Linterna personal.",
            "Ropa de baño.",
            "Binoculares son opcionales."
        ]
    }
];
---
<section class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-3 gap-10 my-16">
    <div class="lg:col-span-2 space-y-4">
        <div class="flex items-center gap-2 mb-4">
            <a href="#" onclick="history.back()" class="flex items-center text-green-950 hover:text-orange-600 transition-all font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"/>
                </svg>
                Volver
            </a>
        </div>
        <img src={tour.image} alt={tour.title} class="w-full h-60 sm:h-80 object-cover rounded-xl shadow-md" />

        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
            <h1 class="text-xl sm:text-3xl font-bold text-gray-900 leading-tight">
                {tour.title}
            </h1>
            <a href="https://wa.link/yin658" 
               class="mt-4 sm:mt-0 w-full sm:w-auto text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <div class="space-y-4">
            <div class="bg-white p-2">
                <p class="text-gray-700 leading-relaxed text-justify mb-3">
                    Experiencia inolvidable en una de las áreas más ricas en biodiversidad que aún existen en el planeta. No solamente tendrá la oportunidad de acercarse a las especies más representativas de la Amazonía, sino que penetrará en sus dominios. Conocerá también cómo la población ribereña que habita en el perímetro de la reserva lleva a cabo programas de conservación y desarrollo sostenible para mantener inalterable uno de los últimos grandes bosques tropicales inundables.
                </p>
            </div>
        </div>

        <div class="space-y-4">
            {tour.itinerary.map((item) => (
              <div class="bg-gray-50 p-2 rounded-lg shadow-sm">
                <h2 class="text-lg sm:text-xl font-bold text-green-950 underline mb-3">
                  {item.day}. {item.title}
                </h2>
                <div class="space-y-4">
                  {[
                    item.parrafo1,
                    item.parrafo2,
                    item.parrafo3
                  ]
                    .filter((parrafo) => parrafo)
                    .map((parrafo) => (
                      <p class="text-gray-700 leading-relaxed">{parrafo}</p>
                    ))}
                </div>
              </div>
            ))}
        </div>

        <div class="space-y-2 py-10">
            <p class="text-green-950 leading-relaxed font-semibold text-left uppercase">
                ¡BUEN VIAJE…DISFRÚTELO!
            </p>
            <p class="text-gray-700 leading-relaxed text-left">
                El orden de algunas actividades puede variar debido a condiciones climáticas o situaciones operacionales.
            </p>
        </div>

        <div class="space-y-4">
            {accordionItems.map((item) => (
                <details class="bg-blue-50 rounded-lg shadow-sm p-4">
                    <summary class="text-lg sm:text-xl font-semibold cursor-pointer text-green-950">
                        {item.title}
                    </summary>
                    <ul class="mt-2 space-y-1 text-gray-700">
                        {item.content.map((text) => (
                            <li class="ml-4 list-disc">{text}</li>
                        ))}
                    </ul>
                </details>
            ))}
        </div>
        <div class="space-y-4 bg-yellow-50 p-4 rounded-lg shadow-md border-l-4 border-yellow-400">
            <h3 class="text-lg font-bold text-yellow-900">Recomendación para elegir horario de vuelos</h3>
            <p class="text-gray-700 leading-relaxed">
                <strong>Primeros vuelos de llegada:</strong> Lima - Iquitos (Tomar vuelos que lleguen antes de las 09:00 am)
            </p>
            <p class="text-gray-700 leading-relaxed">
                <strong>Últimos vuelos de salida:</strong> Iquitos - Lima (Tomar vuelos que salgan después de las 18:00 hrs)
            </p>
            <p class="text-gray-700 leading-relaxed">
                De llegar o salir en otro horario, el programa no podrá realizarse adecuadamente.
            </p>
        </div>
        <div class="flex flex-col">
            <a href="https://wa.link/yin658" class="mt-2 w-full text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </a>
        </div>
    </div>

    <aside class="lg:col-span-1 order-last lg:order-none sticky top-10 space-y-6 self-start">
        <h3 class="text-xl sm:text-2xl text-center font-bold text-gray-900">
            También te <br /> puede interesar
        </h3>
        <div class="max-h-[670px] overflow-y-auto space-y-4 scrollbar-thin scrollbar-thumb-green-300 scrollbar-track-green-100">
            {relatedTours.map((tour) => (
                <a href={tour.link} class="block border rounded-xl overflow-hidden shadow-md transition-transform transform hover:shadow-lg bg-white">
                    <img src={tour.image} alt={tour.title} class="w-full h-32 sm:h-40 object-cover"/>
                    
                    <div class="bg-green-950 text-white text-sm flex justify-center gap-2 py-2">
                        <span class="flex items-center">
                            <i class="fa-solid fa-calendar-check mr-2"></i>
                            {tour.duration}
                        </span>
                    </div>

                    <div class="p-4 text-center">
                        <h4 class="text-lg font-semibold text-gray-900">{tour.title}</h4>
                        
                        <span class="mt-3 inline-block bg-green-950 hover:bg-green-800 transition-all py-2 px-4 text-white font-medium rounded-md">
                            Ver itinerario
                        </span>
                    </div>
                </a>
            ))}
        </div>
    </aside>
</section>