---
const tour = {
    image: "/../tours/pacayasamiriadesdeytarapoto.avif",
    title: "Pacaya Samiria (8D/7N) - Desde Tarapoto.",
    itinerary: [
        {
            day: "Día 1",
            title: "Tarapoto – Yurimaguas.",
            parrafo1: "Nuestro personal calificado le estará esperando en el aeropuerto, para hacer el traslado de 2:30 horas a la ciudad de Yurimaguas. Tendremos cena y pernocte en un hotel de la ciudad."
        },
        {
            day: "Día 2",
            title: "Yurimaguas – Lagunas",
            parrafo1: "Este segundo día iniciamos nuestra aventura a las 7 am navegando el río Huallaga por un tiempo aproximado de 6 horas hasta la Comunidad Nativa de Lagunas. Al arribo, nos trasladamos a un albergue de la comunidad. Por la tarde después del almuerzo nos entrevistamos con nuestros guías de la comunidad. Experimentaremos una Cena selvática y pernoctaremos en Lagunas."
        },
        {
            day: "Día 3",
            title: "Lagunas – Posa Gloria",
            parrafo1: "Este día muy temprano iniciamos nuestra aventura en la Reserva Pacaya Samiria. Usaremos una moto-taxi como medio de transporte por 40 minutos. Luego navegaremos en embarcaciones rústicas por el resto de la expedición. Durante nuestro recorrido, podremos disfrutar de la exuberante Selva Amazónica de Perú, también se podrá observar y fotografiar delfines, monos, guacamayos y hasta anacondas, entre otros animales paradisíacos de la selva."
        },
        {
            day: "Día 4",
            title: "Posa Gloria – Camotado",
            parrafo1: "Este día iniciamos nuestra exploración con pequeñas caminatas y usaremos los ríos como medio de transporte usando embarcaciones ancestrales (chalupas y canoas cavadas en troncos); nuestros guías harán reconocimiento de plantas medicinales que han sido usadas por cientos de años en las comunidades nativas del lugar. Será un magnífico día para entender la importancia de esta área protegida de Perú."
        },
        {
            day: "Día 5",
            title: "Camotado – Panteon",
            parrafo1: "Este quinto día muy temprano, iniciamos nuestro recorrido con actividades como avistamiento de aves, pesca deportiva, observación de tortugas, delfines y guacamayos. Haremos pequeñas caminatas y paseos en canoas para explorar los pequeños ríos (quebradas) de la reserva."
        },
        {
            day: "Día 6",
            title: "Panteón – Camotado",
            parrafo1: "Este día iniciamos nuestro retorno a Camotado. En el trayecto haremos paradas para observar aves, y disfrutar de la naturaleza. Al arribar a Camotado, disfrutaremos una tarde libre."
        },
        {
            day: "Día 7",
            title: "Camotado – Lagunas",
            parrafo1: "Este séptimo día dejaremos la reserva Pacaya Samiria y nos trasladaremos a la Comunidad Nativa de Lagunas, donde compartiremos una cena de despedida con nuestros guías. Finalmente tendremos un merecido descanso pernoctando en un albergue de la comunidad."
        },
        {
            day: "Día 8",
            title: "Lagunas – Yurimaguas – Tarapoto",
            parrafo1: "A las 4 AM, dejamos Lagunas para trasladarnos a Yurimaguas por barco. Al arribar a la ciudad nos esperará una movilidad para trasladarnos a la ciudad de Tarapoto."
        }
    ],
};

const relatedTours = [
    {
        image: "/../tours/pacayasamiria4.avif",
        title: "Tours Reserva Nacional Pacaya Samiria (6D/5N) - Desde Yurimaguas",
        duration: "6 días | 5 noches",
        link: "../tours-pacaya-samiria/tour-6-dias-5-noches",
    },
    {
        image: "/../tours/toursdiarioscreayquicticocha.avif",
        title: "CREA y Quiticocha",
        duration: "Tours Diarios",
        link: "../tours-diarios/crea-y-quiticocha",
    },
    {
        image: "/../tours/toursdiariosmariposario.avif",
        title: "Mariposario",
        duration: "Tours Diarios",
        link: "../tours-diarios/mariposario",
    },
];

const accordionItems = [
    {
        title: "Nuestro Servicio Incluye",
        content: [
            "Transporte:",
            "Transporte terrestre desde y hasta zonas de embarque.",
            "Navegaciones.",
            "5 noches de alojamiento.",
            "Alimentación:",
            "Desayuno.",
            "Almuerzo.",
            "Cena.",
            "Equipo de campamento.",
            "Equipo de pesca.",
            "Guías nativos.",
            "Ticket de entrada a parques."
        ]
    },
    {
        title: "Nuestro Servicio No Incluye",
        content: [
            "Pasajes aéreos.",
            "Bebidas.",
            "Alimentación extra.",
            "Seguro de viaje.",
            "Propinas (opcional)."
        ]
    },
    {
        title: "Sugerimos llevar con usted:",
        content: [
            "Mochila de 40 a 60 litros para llevar las cosas que utilizarás durante el tour.",
            "Mochila de 25 litros para las caminatas cortas que realizarás durante el día.",
            "Camisetas o camisas manga larga.",
            "Pantalón y chaqueta impermeables.",
            "Poncho de lluvia.",
            "Zapatos de trekking.",
            "Snacks.",
            "Gorro para el sol.",
            "Bloqueador solar.",
            "Repelente de insectos.",
            "Binoculares.",
            "Linterna frontal.",
            "Bolsas Ziploc o similar (para envolver tu ropa y evitar mojarla en caso de lluvia).",
            "Dinero extra para gastos no incluidos en el tour.",
            "Seguro de viaje."
        ]
    }
];
---
<section class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-3 gap-10 my-16">
    <div class="lg:col-span-2 space-y-4">
        <div class="flex items-center gap-2 mb-4">
            <a href="#" onclick="history.back()" class="flex items-center text-green-950 hover:text-orange-600 transition-all font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"/>
                </svg>
                Volver
            </a>
        </div>
        <img src={tour.image} alt={tour.title} class="w-full h-60 sm:h-80 object-cover rounded-xl shadow-md" />

        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
            <h1 class="text-xl sm:text-3xl font-bold text-gray-900 leading-tight">
                {tour.title}
            </h1>
            <a href="https://wa.link/10ctyy" 
               class="mt-4 sm:mt-0 w-full sm:w-auto text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <div class="space-y-4">
            <h3 class="text-xl sm:text-2xl font-bold text-green-950 underline">
                Parque Nacional Pacaya Samiria, Loreto, Perú
            </h3>
            <p class="text-gray-700 leading-relaxed">
                El “Parque Nacional de Pacaya Samiria” es conocido por ser una de las zonas del país de mayor belleza natural. El objetivo de este Tour en Pacaya-Samiria es que descubras la espectacular diversidad natural de flora y fauna, la magnífica vida silvestre y la historia de la región. Será una experiencia inolvidable en un viaje de doce horas navegando por el Río Amazonas, que harán recordar las aventuras de los primeros navegantes europeos por la selva amazónica, o las páginas del Amor en los Tiempos del Cólera de García Márquez. Este viaje nos llevará a la comunidad de Lagunas, ubicado justo al lado del Parque Nacional de más de 2000 km2. Durante el viaje y al llegar a la reserva, avistaremos monos fraile, gran número de aves y animales, también plantas de belleza peculiar. Nuestro viaje también es cultura, escucharás leyendas de viejos cazadores junto a fogatas, verás, disfrutarás y comprenderás nuestras danzas milenarias y conocerás la historia de nuestros pueblos amazónicos. Si buscas conocer la selva de verdad, ¡este tour es para ti!
            </p>
        </div>

        <div class="space-y-4">
            {tour.itinerary.map((item) => (
              <div class="bg-gray-50 p-2 rounded-lg shadow-sm">
                <h2 class="text-lg sm:text-xl font-bold text-green-950 underline mb-3">
                  {item.day}. {item.title}
                </h2>
                <div class="space-y-4">
                  {[
                    item.parrafo1
                  ]
                    .filter((parrafo) => parrafo)
                    .map((parrafo) => (
                      <p class="text-gray-700 leading-relaxed">{parrafo}</p>
                    ))}
                </div>
              </div>
            ))}
        </div>

        <div class="space-y-2 py-10">
            <p class="text-green-950 leading-relaxed font-semibold text-left uppercase">
                ¡BUEN VIAJE…DISFRÚTELO!
            </p>
            <p class="text-gray-700 leading-relaxed text-left">
                El orden de algunas actividades puede variar debido a condiciones climáticas o situaciones operacionales.
            </p>
        </div>

        <div class="space-y-4">
            {accordionItems.map((item) => (
                <details class="bg-blue-50 rounded-lg shadow-sm p-4">
                    <summary class="text-lg sm:text-xl font-semibold cursor-pointer text-green-950">
                        {item.title}
                    </summary>
                    <ul class="mt-2 space-y-1 text-gray-700">
                        {item.content.map((text) => (
                            <li class="ml-4 list-disc">{text}</li>
                        ))}
                    </ul>
                </details>
            ))}
        </div>
        <div class="flex flex-col">
            <a href="https://wa.link/10ctyy" class="mt-2 w-full text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </a>
        </div>
    </div>

    <aside class="lg:col-span-1 order-last lg:order-none sticky top-10 space-y-6 self-start">
        <h3 class="text-xl sm:text-2xl text-center font-bold text-gray-900">
            También te <br /> puede interesar
        </h3>
        <div class="max-h-[670px] overflow-y-auto space-y-4 scrollbar-thin scrollbar-thumb-green-300 scrollbar-track-green-100">
            {relatedTours.map((tour) => (
                <a href={tour.link} class="block border rounded-xl overflow-hidden shadow-md transition-transform transform hover:shadow-lg bg-white">
                    <img src={tour.image} alt={tour.title} class="w-full h-32 sm:h-40 object-cover"/>
                    
                    <div class="bg-green-950 text-white text-sm flex justify-center gap-2 py-2">
                        <span class="flex items-center">
                            <i class="fa-solid fa-calendar-check mr-2"></i>
                            {tour.duration}
                        </span>
                    </div>

                    <div class="p-4 text-center">
                        <h4 class="text-lg font-semibold text-gray-900">{tour.title}</h4>
                        
                        <span class="mt-3 inline-block bg-green-950 hover:bg-green-800 transition-all py-2 px-4 text-white font-medium rounded-md">
                            Ver itinerario
                        </span>
                    </div>
                </a>
            ))}
        </div>
    </aside>
</section>