---
const tour = {
    image: "/../tours/pacayasamiria.avif",
    title: "Reserva Nacional Pacaya Samiria (6D/5N)",
    itinerary: [
        {
            day: "Día 1",
            title: "Partida entre las 8:00 am y las 8:30 am",
            parrafo1:
                "Salida en la mañana desde su alojamiento o el aeropuerto en auto privado o mini-van (dependiendo del tamaño del grupo), nos desplazaremos en dirección sur durante 1 hora 45 minutos hasta llegar al pueblo de Nauta. Mientras nos dirigimos hacia allá le entregaremos una breve descripción de Iquitos, sus alrededores y sus principales atracciones. Partida en bote privado desde el puerto de Nauta, continuando río arriba durante 3 horas, disfrutando de los hermosos paisajes y la posibilidad de observar delfines de río (gris y rosado), garzas y tortugas, entre otras especies. Llegada a la comunidad de Santo Domingo, nuestro punto de entrada a la Reserva Nacional Pacaya Samiria. Aquí obtendremos nuestro permiso de entrada. La entrada a la Reserva Nacional Pacaya Samiria es controlada y regulada por el SERNANP (Servicio Nacional de Areas Naturales Protegidas). Continuaremos la navegación en bote durante 30 minutos hasta llegar a la comunidad de Buenos Aires.",
            parrafo2:
                "Durante nuestra travesía observaremos flora y fauna a orillas del río. Se pueden observar aves, especialmente garzas y marin pescador, Caminata de expedición por la selva primaria. Disfrutaremos de la naturaleza en búsqueda de vida salvaje.Caminata nocturna en busca de arañas, serpientes, lagartos, ranas y roedores, escuchando los diferentes sonidos de los animales nocturnos que habitan la selva. Alojamiento en vivienda típica en la comunidad de Buenos Aires",
        },
        {
            day: "Día 2",
            title: "Observación de Aves en su Habita Natural",
            parrafo1:
                "Nos despertaremos temprano para observar el amanecer y luego comenzar con una expedición matutina. Iremos en busqueda de monos y perezosos. Exploraremos las orillas del río en canoa, siempre atentos a los movimientos y los sonidos de la selva, para así poder observar la vida salvaje durante sus rituales matutinos. Navegación en bote por el río Pucate durante aprox. 3 horas, internándonos más y más en las profundidades de la selva vírgen.",
            parrafo2:
                "Realizaremos una excursión en bote para probar nuestras habilidades con la pesca artesanal de pirañas, de la forma que las personas locales lo realizan. El guía le entregará instrucciones y todo el equipamiento necesario. Observación de delfines rosados (Inia geoffrensis) y delfines grises o tucuxis. Tendrá la oportunidad de nadar en el río Pucate. Caminata a través de la selva para observar la flora y fauna amazónica. Observación de la Lupuna, uno de los árboles más grandes del Amazonas. Exploración de Iricahua cocha (lago). Para llegar hasta este lugar caminaremos 2-3 horas dentro de la selva. En iricahua tendremos la oportunidad de observar diferentes especies de monos, como el mono choro (Wolly monkey), mono aullador (Howler monkey), el mono tocon o fraile (Titi monkey), entre otros. También habita este lago el famosos Paiche (Arapaima gigas), el pez más grande de la selva amazónica. Otros animales que podemos encontrar son tortugas y caimanes en busca de sol. Expedición nocturna en busca de caimanes (grandes lagartos de río). Camping en la selva primaria. Dormiremos en carpas.",
        },
        {
            day: "Día 3",
            title: "Caminata por la Selva",
            parrafo1:
                "Despertaremos temprano en la mañana y comenzaremos nuestra búsqueda de primates mientras exploramos en canoa. Caminata botánica en la mañana. Conocerá diferentes plantas medicinales amazonicas. Aprenderemos a cortar y beber de la “Soga de agua”, una enredadera que puede ser de utilidad como técnica de supervivencia. Recogeremos nuestro equipamiento de camping y nos prepararemos para continuar hacia las profundidades de la Reserva Nacional Pacaya Samiria. Navegaremos aproximadamente 2 horas hasta nuestro próximo destino.",
            parrafo2:
                "Expedición en busca de primates y otros animales para observarlos en su hábitat. Mientras más nos adentramos en la selva amazónica, más posibilidades tenemos de observar vida salvaje. Exploración de una quebrada en canoa. Al final de la quebrada, nos bajaremos de la canoa y caminaremos por los alrededores en busca de animales amazónicos como el armadillo (localmente llamado carachupa), oso hormiguero, roedores como el Majaz (Paca agouti) y el Añuje (Black agouti), entre otros.Expedición nocturna observando (y escuchando) atentamente en busca de animales nocturnos, incluyendo caimanes, ranas, serpientes, entre otros. Camping en la selva primaria. Dormiremos en carpas.",
        },
        {
            day: "Día 4",
            title: "Exploración de la Selva en Canoa",
            parrafo1:
                "Viajaremos en bote aprox. 2 horas internandonos más en la selva virgen. Avanzaremos hasta nuestro siguiente sitio de camping en la Reserva Nacional Pacaya Samiria, la Quebrada del fraile. A mayor profundidad dentro de la selva amazónica, mayores son las posibilidades de observar diferentes especies de animales, aves y peces. Caminata en la selva en búsqueda de monos (como el mono aullador o el mono choro) y otras especies animales para observarlas en su hábitat.",
            parrafo2:
                "Estaremos atentos ya que este lugar es excelente para la observación de guacamayos, como el guacamayo rojo y verde (Ara chloroptera) o el guacamayo azul y amarillo (Ara ararauna). En la Reserva Nacional Pacaya Samiria podemos encontrar 2 de las 8 especies de guacamayos presentes en Perú. Excursión para observar la nutria gigante de río. Excursión nocturna en canoa, en busca de vida salvaje. Caminata nocturna en busca de especies como el armadillo (localmente llamado carachupa, Dasypus novemcinctus) y roedores como el añuje (black agouti o Dasyprocta fuliginosa) y el majaz (paca agouti). Camping en la selva amazónica. Dormiremos en carpas.",
        },
        {
            day: "Día 5",
            title: "Observación de Nutrias y Paiche",
            parrafo1:
                "Exploración matutina en los alrededores de la Quebrada del fraile, en busca de vida salvaje a orillas del río y dentro de la selva virgen, como tortugas, nutrias de río o el famoso Paiche (Arapaima gigas, el pez más grande de la selva amazónica. Luego de disfrutar nuestro desayuno en medio de la selva amazónica empacaremos, limpiaremos y comenzaremos la navegación hacia zonas más profundas de la Reserva Nacional Pacaya Samiria. Navegaremos 1-2 horas siguiendo el río Pucate. Estableceremos nuestro nuevo sitio de camping. Realizaremos una caminata en las profundidades de la selva para observar monos y otros animales. Existe la posibilidad de observar anacondas en estas zonas de la Reserva Pacaya Samiria. Caminata nocturna en búsqueda de animales nocturnos como el tapir (Sashavaca), armadillo (Carachupa), roedores, serpientes, anfibios e insectos. Expedición en canoa en búsqueda de caimanes blancos y negros. Al navegar en lagos alejados, en las profundidades de la Reserva Nacional existe una alta posibilidad de observar caimanes negros. Camping en la selva primaria. Dormiremos en carpas.",
        },
        {
            day: "Día 6",
            title: "Regreso Nauta Iquitos",
            parrafo1:
                "Despertaremos nuestros sentidos con una excursión matutina en canoa. Observación de aves. Durante la madrugada es el mejor momento para observar aves y animales a la orilla del río y dentro de la selva. Caminata en la selva en búsqueda de primates, explorando las cochas (lagos) cercanas. Comenzaremos nuestro regreso, deteniendonos en la comunidad de Buenos Aires para estirar las piernas y contribuir a la comunidad, si usted así lo desea, comprando sus artesanías hechas a mano. Regreso en bote al puerto de Nauta. Transporte en vehículo privado desde Nauta a Iquitos. Llegada a nuestra oficina o, si lo prefiere, su alojamiento en Iquitos o el aeropuerto.",
        },
    ],
};

const relatedTours = [
    {
        image: "/../tours/pacayasamiria5.avif",
        title: "Tours Pacaya Samiria (8D/7N)",
        duration: "8 días | 7 noches",
        link: "../tours-pacaya-samiria/tour-8-dias-7-noches",
    },
    {
        image: "/../tours/iquitosdeaventura.avif",
        title: "Iquitos de Aventura (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-irapay-amazon/iquitos-de-aventura-5-dias-4-noches",
    },
    {
        image: "/../tours/culturayaventurasenlaselva.avif",
        title: "Cultura y Aventura en la Selva (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-heliconia-lodge/cultura-y-aventuras-en-la-selva-5-dias-4-noches",
    },
];

const accordionItems = [
    {
        title: "Nuestro Servicio Incluye",
        content: [
            "Traslados aeropuerto / hotel / Pacaya Samiria / hotel / aeropuerto (terrestre y fluvial)",
            "Entrada a la Reserva Nacional Pacaya-Samiria",
            "05+ noches en campamentos itinerantes",
            "Todas las comidas",
            "Excursiones como se detallan en el programa",
            "Guía en inglés o español",
        ],
    },
    {
        title: "Nuestro Servicio No Incluye",
        content: [
            "Tickets aéreos",
            "Impuestos en aeropuerto",
            "Propinas",
            "Lavandería",
            "Gaseosas y bebidas alcohólicas",
        ],
    },
    {
        title: "Recomendaciones - ¿Qué traer?",
        content: [
            "Pantalones y camisas de algodón livianas de manga larga",
            "Bermudas o shorts delgados.",
            "Polos de algodón o camisas de manga corta",
            "Bloqueador de sol",
            "Gorra con visera o sombrero liviano",
            "Cámara y/o filmadora con batería recargable",
            "Loción o crema repelente para mosquitos",
            "Poncho o chaqueta impermeable liviana",
            "Zapatillas o botines cómodos para caminar",
            "Linterna personal",
            "Ropa de baño",
            "Binoculares son opcionales.",
        ],
    },
    {
        title: "Recomendación de Vuelos",
        content: [
            "Primeros vuelos de llegada: Lima - Iquitos (Tomar vuelos que lleguen antes de las 09:00am)",
            "Últimos vuelos de salida: Iquitos - Lima (Tomar vuelos que salgan después de las 18:00 hrs)",
            "De llegar o salir en otro horario el programa no podrá realizarse adecuadamente.",
        ],
    },
];
---

<section
    class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-3 gap-10 my-16"
>
    <div class="lg:col-span-2 space-y-4">
        <div class="flex items-center gap-2 mb-4">
            <a
                href="#"
                onclick="history.back()"
                class="flex items-center text-green-950 hover:text-orange-600 transition-all font-medium"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="w-6 h-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 19l-7-7 7-7"></path>
                </svg>
                Volver
            </a>
        </div>
        <img
            src={tour.image}
            alt={tour.title}
            class="w-full h-60 sm:h-80 object-cover rounded-xl shadow-md"
        />

        <div
            class="flex flex-col sm:flex-row sm:items-center sm:justify-between"
        >
            <h1
                class="text-xl sm:text-3xl font-bold text-gray-900 leading-tight"
            >
                {tour.title}
            </h1>
            <a
                href="https://wa.link/8sntza"
                class="mt-4 sm:mt-0 w-full sm:w-auto text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md"
                target="_blank"
            >
                Consultar ahora
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <div class="space-y-4">
            <h2 class="text-xl sm:text-2xl font-bold text-green-950 underline">
                Reserva Nacional Pacaya Samiria, Loreto, Perú
            </h2>
            <p class="text-gray-700 leading-relaxed">
                En el corazón de la Reserva Nacional Pacaya Samiria existen
                muchas oportunidades para ver una gran diversidad de aves y
                animales. Acamparemos todos los días en la selva amazónica.
                ¿Estás listo para comenzar tu expedición y adentrarte en lo
                profundo de la Amazonia?
            </p>
        </div>

        <div class="space-y-4">
            {
                tour.itinerary.map((item) => (
                    <div class="bg-gray-50 p-2 rounded-lg shadow-sm">
                        <h2 class="text-lg sm:text-xl font-bold text-green-950 underline mb-3">
                            {item.day}. {item.title}
                        </h2>
                        <div class="space-y-4">
                            {[item.parrafo1, item.parrafo2]
                                .filter((parrafo) => parrafo)
                                .map((parrafo) => (
                                    <p class="text-gray-700 leading-relaxed">
                                        {parrafo}
                                    </p>
                                ))}
                        </div>
                    </div>
                ))
            }
        </div>

        <div class="space-y-4">
            {
                accordionItems.map((item) => (
                    <details class="bg-blue-50 rounded-lg shadow-sm p-4">
                        <summary class="text-lg sm:text-xl font-semibold cursor-pointer text-green-950">
                            {item.title}
                        </summary>
                        <ul class="mt-2 space-y-1 text-gray-700">
                            {item.content.map((text) => (
                                <li class="ml-4 list-disc">{text}</li>
                            ))}
                        </ul>
                    </details>
                ))
            }
        </div>
        <div class="flex flex-col">
            <a
                href="https://wa.link/8sntza"
                class="mt-2 w-full text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md"
                target="_blank"
            >
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </a>
        </div>
    </div>

    <aside
        class="lg:col-span-1 order-last lg:order-none sticky top-10 space-y-6 self-start"
    >
        <h3 class="text-xl sm:text-2xl text-center font-bold text-gray-900">
            También te <br /> puede interesar
        </h3>
        <div
            class="max-h-[670px] overflow-y-auto space-y-4 scrollbar-thin scrollbar-thumb-green-300 scrollbar-track-green-100"
        >
            {
                relatedTours.map((tour) => (
                    <a
                        href={tour.link}
                        class="block border rounded-xl overflow-hidden shadow-md transition-transform transform hover:shadow-lg bg-white"
                    >
                        <img
                            src={tour.image}
                            alt={tour.title}
                            class="w-full h-32 sm:h-40 object-cover"
                        />

                        <div class="bg-green-950 text-white text-sm flex justify-center gap-2 py-2">
                            <span class="flex items-center">
                                <i class="fa-solid fa-calendar-check mr-2" />
                                {tour.duration}
                            </span>
                        </div>

                        <div class="p-4 text-center">
                            <h4 class="text-lg font-semibold text-gray-900">
                                {tour.title}
                            </h4>

                            <span class="mt-3 inline-block bg-green-950 hover:bg-green-800 transition-all py-2 px-4 text-white font-medium rounded-md">
                                Ver itinerario
                            </span>
                        </div>
                    </a>
                ))
            }
        </div>
    </aside>
</section>
