---
const tour = {
    image: "/../tours/heliconia5d4n.avif",
    title: "Cultura y Aventuras En La Selva (5D/4N)",
    itinerary: [
        {
            day: "Día 1",
            title: "Lima / Iquitos / Heliconia Amazon River Lodge (A, C)",
            parrafo1: "Será recibido y bienvenido en el área de equipajes del aeropuerto Internacional de Iquitos, donde representantes de Iquitos Expedition, lo asistirán y trasladarán hacia nuestra oficina en Iquitos. Se le ofrecerá una pequeña inducción acerca del recorrido, nuestros servicios, lo que se debe y no debe hacer en la selva, así como algunos tips importantes. Después de una corta espera, será trasladado al Puerto de Iquitos donde será embarcado en uno de nuestros botes rápidos que lo trasladará al Heliconia Amazon River Lodge a través del Rio Amazonas.",
            parrafo2: "Durante el recorrido podrá observar la convergencia de las turbias aguas color marrón del Rio Amazonas con las oscuras aguas del Rio Nanay. Disfrute de los maravillosos paisajes de la selva peruana acompañada de las pequeñas casas rurales ubicadas a orillas de los ríos.",
            parrafo3: "Después de algunos minutos de recorrido, realizaremos una corta parada en la Isla de Monos, en la cual se protege y conservan especies de monos en peligro de extinción de la Amazonia Peruana( en época de vaciante de los ríos, se visitará el Fundo Pedrito)El objetivo de esta compañía de índole familiar es mostrar a sus visitantes el trabajo que se realiza día a día en el proceso de reintegración de los primates a su hábitat natural, así como el desarrollo de su instinto de supervivencia en la naturaleza. Aprecie las diferentes especies de monos que se encuentran completamente en libertad dentro de esta reserva; sin jaulas, donde su estadía dependerá del desarrollo de su capacidad de re-adaptarse a la naturaleza.",
            parrafo4: "Luego de apreciar el enorme esfuerzo de este grupo de personas, continuaremos nuestro recorrido por aproximadamente 60 minutos en bote. Al arribar al lodge, nuestro personal le dará la bienvenida y recibirá con un refrescante jugo de frutas de la región. Luego, se procederá con el check-in y ubicación en su respectiva habitación, para que pueda refrescarse e inmediatamente después pasar por el restaurant del lodge y así disfrutar de su primera comida Amazónica. Por la tarde, inicie su primera excursión acompañado de nuestros experimentados guías caminando a través de la reserva de Yanamono, por un tiempo aproximado de 2 horas. Allí le enseñaran a identificar diversas especies de flora como; las flores de heliconia, plantas medicinales y arboles gigantes. Durante el trayecto podrá observar diversas especies de aves como el TurkeyVulture(Cathartes Aura), Black FrontedNunbird(Monasa-Atia), y con mucha suerte quizás pueda observar alguna familia de monos pequeños como los marmosets(saguinusfusicollis), el Titi (CallicebusMollockMollock) y el squirrelmonkey(SaimiriBoliviense).",
            parrafo5: "Partiremos de regreso al lodge para disfrutar de algunas horas de descanso y relax, y asimismo ser cautivado por su primer sunset en el Amazonas. Al caer la noche, en especial en la temporada de creciente de los ríos, disfrutaremos de un mágico recorrido en bote abierto a través de uno de los afluentes del Rio Amazonas, sin iluminación alguna, acompañados solo de algunos destellos propios de la flora y fauna de la selva. Si nos encontramos con un cielo despejado, podremos apreciar el espléndido brillo de la luna, así como las estrellas y constelaciones. Con un poco de suerte podrá pedir lo que más anhela frente a la aparición de alguna estrella fugaz, las cuales son comunes en esta zona y tienden a deslumbrarnos con su brillante recorrido. De regreso al lodge para la cena y asimismo descansar y recuperar energías para la mañana siguiente iniciar actividades desde el amanecer."
        },
        {
            day: "Día 2",
            title: "Heliconia Amazon River Lodge (D, A, C)",
            parrafo1: "Iniciamos el día con la excursión de observación de aves, apreciando como se reúnen las diversas aves en busca de sus alimentos matutinos, iniciará muy temprano trasladándose en bote hacia uno de las quebradas donde podrá apreciar la mayor variedad de aves. Podrá observar diversas especies como el Tuki(Jacana Jacana),RingedKingfisher(Ceryle-Torquata), Black-CollaredHawk(Busarellusnigricollis), entre otros.",
            parrafo2: "Después de retornar al lodge para unenergizante desayuno y un breve descanso, nos preparamos para  visitar la comunidad de los Yaguas donde podremos apreciar sus costumbres y tradiciones de su cultura, tendremos la oportunidad de participar en el uso de la “pucuna” instrumento principal de caza. Retorno al albergue y almuerzo.  Por la tardenos preparamos para ser parte de la expedición de Pesca Artesanal, para lo cual nos trasladaremos a uno de los afluentes del Rio Amazonas, donde aprenderemos sobre las técnicas artesanales de pesca, así como la pesca de pirañas. Si la expedición fue un éxito, podrá llevar lo pescado al lodge para su preparación durante el almuerzo. Asimismo, durante esta excursión tendremos también la oportunidad de apreciar los amigables delfines rosados de rio (IniaGeoffrensis). Retornamos al lodge para disfrutar de la cena.",
            parrafo3: "Por la noche, atrévase a caminar por la naturaleza dentro de los perímetros del lodge y sea testigo de la encantadora transformación de la selva a un entorno nocturno. Mientras se va adaptando en el ambiente oscuro de la selva apreciará como la naturaleza adopta un carácter diferente y observe los diversos hábitos de los animales nocturnos de la selva. Es el mejor momento para apreciar ranas, tímidas serpientes y otras criaturas que solo se trasladan durante la noche. Podremos diferenciar una gama completamente distinta de fauna frente a la que usualmente se encuentra durante el día, escuchando los mágicos sonidos de los insectos, aves, felinos y lechuzas. Después de 30 minutos de recorrido procederemos a regresar al lodge para disfrutar de la cena y descansar placenteramente."
        },
        {
            day: "Día 3",
            title: "Heliconia Amazon River Lodge / Mazan / Sucusari (D, A, C)",
            parrafo1: "Desayuno en Heliconia Amazon River Lodge. A hora indicada, un bote nos conducirá hacia el Puerto de Mazan, donde por un camino de tierra cubriremos la distancia más corta entre los Ríos Amazonas y Napo que nos llevará a la reserva de Sucusari donde está ubicado Explornapo Lodge. Almuerzo. Luego de un breve descanso, Tarde de caminata en Selva primaria, tierra firme y selva inundable que incluye visita al jardín de plantas medicinales Renu-Peru. Excursión nocturna en bote abierto por la quebrada Sucusari. Cena a la luz de lámparas de kerosene. Pernocte en el Lodge."
        },
        {
            day: "Día 4",
            title: "Canopy Walkway (D, A, C)",
            parrafo1: "Muy temprano, observación de aves. Desayuno. Luego caminata en el “Canopy Walkway”, un puente de 500 metros de longitud, conectado por 17 plataformas entre las copas de los árboles y que alcanza una altitud de más de 37 metros sobre el nivel del suelo. Desde el puente observaremos la selva raramente vista o conocida por el hombre. Almuerzo. Luego de un breve reposo, excursión en bote o a pie en busca de especies animales. Cena y pernocte en el Lodge."
        },
        {
            day: "Día 4",
            title: "Iquitos/ Lima (D, A)",
            parrafo1: "Muy temprano, luego de desayunar, visitaremos una aldea nativa, en la cual conoceremos las costumbres y tradiciones de la gente de la Amazonía. Almuerzo (Si el vuelo lo permite). Retorno a Iquitos y traslado al Aeropuerto."
        }
    ],
};

const relatedTours = [
    {
        image: "/../tours/cumaceba2.avif",
        title: "Cumaceba Lodge (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-cumaceba-lodge/tour-5-dias-4-noches",
    },
    {
        image: "/../tours/explorandoamazonas.avif",
        title: "Iquitos de Aventura (5D/4N)",
        duration: "5 días | 4 noches",
        link: "../tours-irapay-amazon/iquitos-de-aventura-5-dias-4-noches",
    },
    {
        image: "/../tours/pacayasamiria2.avif",
        title: "Expedición Pacaya Samiria (5D/4N) - Desde Iquitos",
        duration: "5 días | 4 noches",
        link: "../tours-pacaya-samiria/tour-5-dias-4-noches",
    },
];

const accordionItems = [
    {
        title: "El Programa Incluye",
        content: [
            "02 noches de alojamiento en Heliconia Amazon River Lodge con alimentación completa (02 desayunos, 03 almuerzos, 02 cenas).",
            "Visita a la Isla de Monos.",
            "Caminata por la selva.",
            "Paseo nocturno en bote.",
            "Búsqueda de delfines rosados.",
            "Tour de observación de aves.",
            "Tour de pesca.",
            "Visita a un trapiche artesanal.",
            "Caminata nocturna en la selva.",
            "Observación de las Victoria Regias.",
            "Traslados."
        ]
    },
    {
        title: "El Programa No Incluye",
        content: [
            "Vuelos.",
            "Cenas.",
            "Bebidas.",
            "Hotel en la ciudad.",
            "Entre otros no mencionados."
        ]
    },
    {
        title: "Qué Traer con Usted",
        content: [
            "Ropa Ligera.",
            "Chaqueta de Lluvia.",
            "Repelente.",
            "Bloqueador Solar.",
            "Camisa Mangalarga.",
            "Ropa de baño.",
            "Sombrero o Gorra.",
            "Cámara fotográfica.",
            "Lentes de Sol.",
            "Caña de Pescar. (Opcional)",
            "Buen Ánimo."
        ]
    }
];
---
<section class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-3 gap-10 my-16">
    <div class="lg:col-span-2 space-y-4">
        <div class="flex items-center gap-2 mb-4">
            <a href="#" onclick="history.back()" class="flex items-center text-green-950 hover:text-orange-600 transition-all font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"/>
                </svg>
                Volver
            </a>
        </div>
        <img src={tour.image} alt={tour.title} class="w-full h-60 sm:h-80 object-cover rounded-xl shadow-md" />

        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
            <h1 class="text-xl sm:text-3xl font-bold text-gray-900 leading-tight">
                {tour.title}
            </h1>
            <a href="https://wa.link/o3j88n" 
               class="mt-4 sm:mt-0 w-full sm:w-auto text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <div class="space-y-4">
            {tour.itinerary.map((item) => (
              <div class="bg-gray-50 p-2 rounded-lg shadow-sm">
                <h2 class="text-lg sm:text-xl font-bold text-green-950 underline mb-3">
                  {item.day}. {item.title}
                </h2>
                <div class="space-y-4">
                  {[
                    item.parrafo1,
                    item.parrafo2,
                    item.parrafo3,
                    item.parrafo4,
                    item.parrafo5
                  ]
                    .filter((parrafo) => parrafo)
                    .map((parrafo) => (
                      <p class="text-gray-700 leading-relaxed">{parrafo}</p>
                    ))}
                </div>
              </div>
            ))}
        </div>

        <div class="bg-green-50 border-l-4 border-green-600 text-green-950 p-4 rounded-lg">
            <p class="font-bold text-lg underline">
                Nota Importante
            </p>
            <p class="mt-2">
                Personal de 
                <strong>
                    Iquitos Expedition,
                </strong>
                lo espera en el aeropuerto en la zona de recojo o parqueo.
            </p>
            <p class="mt-2">
                El programa puede variar dependiendo de los arribos y salidas de los vuelos, así como de las condiciones climatológicas.
            </p>
            <p class="mt-2">
                Para su viaje a Iquitos tomar los vuelos por la mañana y para su retorno a Lima por la tarde.
            </p>
            <p class="mt-2">
                <strong>
                    Traslados de Iquitos a Heliconia: 10:00 a.m.
                </strong> 
                / 
                <strong>
                    Traslados de Heliconia a Iquitos: 14:00 hrs
                </strong>
                <br>
                <em>
                    (Sujeto a cambios por horarios de los vuelos)
                </em>
            </p>
        </div>

        <div class="space-y-4">
            {accordionItems.map((item) => (
                <details class="bg-blue-50 rounded-lg shadow-sm p-4">
                    <summary class="text-lg sm:text-xl font-semibold cursor-pointer text-green-950">
                        {item.title}
                    </summary>
                    <ul class="mt-2 space-y-1 text-gray-700">
                        {item.content.map((text) => (
                            <li class="ml-4 list-disc">{text}</li>
                        ))}
                    </ul>
                </details>
            ))}
        </div>
        <div class="flex flex-col">
            <a href="https://wa.link/o3j88n" class="mt-2 w-full text-center bg-green-950 hover:bg-orange-600 transition-all py-2 px-4 text-white font-medium rounded-md" target="_blank">
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </a>
        </div>
    </div>

    <aside class="lg:col-span-1 order-last lg:order-none sticky top-10 space-y-6 self-start">
        <h3 class="text-xl sm:text-2xl text-center font-bold text-gray-900">
            También te <br /> puede interesar
        </h3>
        <div class="max-h-[670px] overflow-y-auto space-y-4 scrollbar-thin scrollbar-thumb-green-300 scrollbar-track-green-100">
            {relatedTours.map((tour) => (
                <a href={tour.link} class="block border rounded-xl overflow-hidden shadow-md transition-transform transform hover:shadow-lg bg-white">
                    <img src={tour.image} alt={tour.title} class="w-full h-32 sm:h-40 object-cover"/>
                    
                    <div class="bg-green-950 text-white text-sm flex justify-center gap-2 py-2">
                        <span class="flex items-center">
                            <i class="fa-solid fa-calendar-check mr-2"></i>
                            {tour.duration}
                        </span>
                    </div>

                    <div class="p-4 text-center">
                        <h4 class="text-lg font-semibold text-gray-900">{tour.title}</h4>
                        
                        <span class="mt-3 inline-block bg-green-950 hover:bg-green-800 transition-all py-2 px-4 text-white font-medium rounded-md">
                            Ver itinerario
                        </span>
                    </div>
                </a>
            ))}
        </div>
    </aside>
</section>